/* body{
    background-color: violet;
}

h1{
    color:blue;
    font-size: x-large;
    font-family: cursive;
} */

/* p{
    color:red;
    font-size: x-large;
    border: 4px dotted rgb(5, 205, 55);
    font-family: cursive;
    border: 5px dotted powderblue;
     
} */
/* p{
    border: 2px solid powderblue;
    padding: 25px;
    margin:25px;
    text-align: center;

}
button{
    background-color: black;
    color: white;
    font-size: 30px;
}

 */
 /* a:link{
    color: red;
    background: red;
    color: white;
    border: 3px dotted black;
    text-decoration: none;
 } */
 /* a:visited {
    color:black;
    background: red;
    text-decoration: dotted;

 } */

 /* a:hover {
    color: red;
    background-color: aqua;
    cursor: copy;
  } */
  
